/*
===========================
      Top Nav
===========================
*/

.home-logo {
  padding: 1rem 0 1rem 1rem;
}

.nav-items {
  display: flex;
  align-items: flex-end;
}

/*
===========================
      Home Page
===========================
*/

.container {
  width: 90%;
}

.sub-nav {
  height: 10vh;
  background-color: darkgrey;
}

.row .col.l3.sub-nav-input {
  background-color: white;
  height: 2.5rem;
  margin-top: 1rem;
}

.row .col.sub-nav-submit {
  background-color: #009999;
  color: white;
  padding: .5rem;
  margin-left: .25rem;
  margin-top: 1rem;
}

div.sub-nav-items {
  padding-top: 1rem;
  display: flex;
  align-content: flex-end;

}

a.sub-nav-item.white-text.col.m2.l2 {
  text-decoration: underline;
}

.profile-head {
  height: 50vh;
  background-color: lightgrey;
}



/*
===========================
      Footer
===========================
*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: white;
}
